.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-blue);
    padding: 10px 50px;
    border-bottom: 2px solid var(--blue); 
}
  
.navbar-logo {
    font-size: 1.5rem;
    font-weight: bold;
}
  
.logo-text {
    color: var(--black);
}
  
.highlight {
    color: var(--light-yellow); 
}
  
.search-button {
    background-color: var(--light-yellow); 
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    color: var(--black);
}
  
.search-button:hover {
    background-color: var(--yellow); 
}